<div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcurmb-inner">
                  <!-- breadcrumb-menu -->
                  <div class="breadcrumb-menu">
                      <nav>
                          <ul>
                              <li><a routerLink="/product_list"> <i class="fa fa-home"></i></a></li>
                              
                              <li>Contact</li>
                          </ul>
                      </nav>
                  </div>
                  <!-- breadcrumb-title -->
                  <div class="breadcrumb-title line-bottom">
                      <h2>Contact</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- BREADCRUMB AREA START -->
<div class="contact-area mb-30">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="contact-form">
                  <h3 class="title-3">Tell us your project</h3>
                  <form id="contact-form" action="https://d29u17ylf1ylz9.cloudfront.net/nikado-v1.1/nikado/mail.php" method="post">
                      <div class="row">
                          <div class="col-lg-6 col-12">
                              <label>Votre Nom (required)</label>
                              <input type="text" name="name">
                          </div>
                          <div class="col-lg-6 col-12">
                              <label>Email (required)</label>
                              <input type="email" name="email">
                          </div>
                          <div class="col-12">
                              <label>Sujet</label>
                              <input type="text" name="subject">
                              <label>Message</label>
                              <textarea name="message"></textarea>
                              <input type="submit" value="SEND">
                          </div>
                      </div>
                  </form>
                  <p class="form-messege mb-0"></p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="contact-address">
                  <h3 class="title-3">Nous contacter</h3>
                  <p>The BEST est Le spécialiste de la vente de matériel informatique en ligne en Tunisie. Nous disposons du plus grand choix et des meilleurs prix en Tunisie. The BEST travaille avec les plus grandes marques qui lui font entièrement confiance.The BEST s’est toujours engagé à servir ses clients au mieux et à donner les meilleurs conseils. Enfin et c'est loin d'être négligeable, The BEST s'appuie sur une chaîne logistique optimisée, afin de permettre d'offrir des prix défiant toute concurrence sur de nombreuses références pour des livraisons sur tout le territoire Tunisien. La livraison est gratuite à partir de 300 DT d'achats.</p>

                  <ul>
                      <li><i class="fa fa-fax"></i> Address :Centre Urbain Nord Immeuble le Palace</li>
                      <li><i class="fa fa-phone"></i><a href="mailto:example@example.com">Contact@TheBEST.com
                        </a></li>
                      <li><a href="tel:+21650382338"><i class="fa fa-envelope-o"></i>+21650382338</a></li>
                  </ul>
                  <h3 class="title-3 mb-0">Working hours</h3>
                  <label><strong>Lundi – Samedi:</strong> 08AM – 22PM</label>
              </div>
          </div>
      </div>
  </div>
</div>



        