<header class="header-area">
        <!-- Header top area start -->
        <div class="header-top-area border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <div class="top-bar-left">
                            <!-- welcome -->
                            <div class="welcome">
                                <p> bienvenue dans notre SiteWeb !</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <div class="top-bar-right pull-right clearfix text-uppercase">
                           
                            
                            <!-- login-register -->
                            <ul class="login-register pull-left">
                                <li><a routerLink="/login">Se connecter</a></li>
                                <li>Ou</li>
                                <li><a href="login.html">Créer un compte </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar area end -->
        <!-- Header middle area start -->
        <div class="header-middle-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <!-- site-logo -->
                        <div class="site-logo">
    
                               
                                <li><a routerLink="/Home"><img src="src\assets\images\logo\logo.png" alt="Nikado"></a></li>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <!-- header-search -->
                        <div class="header-search clearfix">
    
                            <div class="header-search-form">
                                <form action="#">
                                    <input type="text" name="search" placeholder="Recherche Selon catégorie..." #query (keyup)="filter(query.value)">
                                    <input type="submit" name="submit" value="Recherche">
                                </form>
                                <div *ngIf="query.value" class="list-group">
                                    <button [routerLink]="'/Home/'+product.name" *ngFor="let product of filtredProducts" type="button" class="list-group-item list-group-item-action list-back">
                                        {{product.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                    
                        <!-- shop-cart-menu -->
                        <div class="shop-cart-menu pull-right">
                            <ul>
                                <li>
                                    <a href="wishlist.html">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-bag"></i>
                                        <sup>3</sup>
                                    </a>
                                    <ul>
                                        <li>
                                            <!-- single-shop-cart-wrapper -->
                                            <div class="single-shop-cart-wrapper">
                                                <div class="shop-cart-img">
                                                    <a href="#"><img src="src\assets\images\product\1.jpg" alt="Image of Product"></a>
                                                </div>
                                                <div class="shop-cart-info">
                                                    <h5><a href="single-product.html">Péripheriques t-shirt men</a></h5>
                                                    <span class="price">515.00</span>
                                                    <span class="quantaty">Qty: 1</span>
                                                    <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- single-shop-cart-wrapper -->
                                            <div class="single-shop-cart-wrapper">
                                                <div class="shop-cart-img">
                                                    <a href="#">
                                                        <img src="src\assets\images\product\1.jpg" alt="Image of Product">
                                                    </a>
                                                </div>
                                                <div class="shop-cart-info">
                                                    <h5>
                                                        <a href="single-product.html">Péripheriques t-shirt men</a>
                                                    </h5>
                                                    <span class="price">515.00</span>
                                                    <span class="quantaty">Qty: 1</span>
                                                    <span class="cart-remove">
                                                        <a href="#">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- single-shop-cart-wrapper -->
                                            <div class="single-shop-cart-wrapper">
                                                <div class="shop-cart-img">
                                                    <a href="#">
                                                        <img src="src\assets\images\product\3.jpg" alt="Image of Product">
                                                    </a>
                                                </div>
                                                <div class="shop-cart-info">
                                                    <h5>
                                                        <a href="single-product.html">Imprimante</a>
                                                    </h5>
                                                    <span class="price">265.00</span>
                                                    <span class="quantaty">Qty: 1</span>
                                                    <span class="cart-remove">
                                                        <a href="#">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- shop-cart-total -->
                                            <div class="shop-cart-total">
                                                <p>Subtotal:
                                                    <span class="pull-right">880.00</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shop-cart-btn">
                                                <a href="checkout.html">Checkout</a>
                                                <a routerLink="/cart" class="pull-right">View Cart</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        <!-- hotline -->
                        <div class="hotline d-lg-none clearfix">
                            <div class="hotline-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hotline-number">
                                <span>
                                    <strong>(+216) 50 38 23 38</strong>
                                </span>
                                <span>à votre disposition à tout moment</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Header middle area end -->
       <!-- Header bottom area start -->
       <div id="sticky-header" class="header-bottom-area">
        <div class="container">
            <div class="row">
                <div>
                    <!-- main-menu -->
                    <div class="main-menu">
                        <nav style="display: block;">
                            <ul>
                                <li>
                                    <a routerLink="index.html">Ordinateur
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a routerLink="/ordinateur">Ordinateurs de Bureau </a>
                                        </li>
                                        <li>
                                            <a routerLink="/pc">PC portable</a>
                                        </li>
                                        <li>
                                            <a routerLink="/tablette_tactile">Tablette Tactile</a>
                                        </li>
    
                                    </ul>
    
                                </li>
                                <li>
                                    <a routerLink="shop.html">Stockage
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a routerLink="/disque_interne">Disques internes </a>
                                        </li>
                                        <li>
                                            <a routerLink="/disque_externe">Disques durs externes</a>
                                        </li>
                                        <li>
                                            <a routerLink="/clé_USB"> Clé-USB </a>
                                        </li>
                                        <li>
                                            <a routerLink="/carte_mémoire"> Carte Mémoire </a>
                                        </li>
    
                                    </ul>
    
                                </li>
    
    
                                <li>
                                    <a routerLink="portfolio.html">Téléphone
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a routerLink="/imprimante">Smart Phone </a>
                                        </li>
                                        <li>
                                            <a routerLink="/photocopieur">Téléphone fixe</a>
                                        </li>
                                        
    
    
                                    </ul>
    
                                </li>
    
    
    
                                <li>
                                    <a routerLink="#">Périphériques &amp; Accessoires
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="megamenu-3-column">
                                        <li>
                                            <a routerLink="#">Périphériques</a>
                                            <ul>
                                                <li>
                                                    <a routerLink="/souris">Souris</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/clavier">Clavier</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/web_cam">Webcam</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/casque">Casques</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/manette">Manette</a>
                                                </li>
    
                                            </ul>
                                        </li>
                                        <li>
                                            <a routerLink="#">Accessoires</a>
                                            <ul>
                                                <li>
                                                    <a routerLink="/sac_pc">sac de PC </a>
                                                </li>
                                                <li>
                                                    <a routerLink="/tapis">Tapis</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/lampe">Lampe de bureau</a>
                                                </li>
    
                                            </ul>
                                        </li>
    
                                    </ul>
                                </li>
    
    
                                <li>
                                    <a routerLink="portfolio.html">Composants informatiques
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a routerLink="/processeur">Processseur </a>
                                        </li>
                                        <li>
                                            <a routerLink="/ventilateur">Ventilateur</a>
                                        </li>
                                        <li>
                                            <a routerLink="/carte_mère"> Carte mère </a>
                                        </li>
                                        <li>
                                            <a routerLink="/carte_graphique"> Carte graphique</a>
                                        </li>
    
                                    </ul>
    
                                </li>
    
    
    
    
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu clearfix"></div>
                </div>
                <div class="col-lg-3">
                     <!-- hotline -->
    
                    </div>
                </div>
            </div>
        </div>
        <!-- Header bottom area end -->
    </header>