
    <div class="error-404-area mt-150 mb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="error-404-inner">
                      <h1>404</h1>
                      <h2>PAGE NOT BE FOUND</h2>
                      <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
                      <form action="#">
                          <input type="text" name="search" placeholder="Search...">
                          <input type="submit" value="SEARCH">
                      </form>
                      <div class="button-3">
                          <li><a routerLink="/Home">BACK TO HOME PAGE</a></li>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
  