
<!-- BREADCRUMB AREA START -->
<div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcurmb-inner">
                  <!-- breadcrumb-menu -->
                  <div class="breadcrumb-menu">
                      <nav>
                          <ul>
                              <li><a href="index.html" title="Home Page"><i class="fa fa-home"></i></a></li>
                              <li>A propos </li>
                          </ul>
                      </nav>
                  </div>
                  <!-- breadcrumb-title -->
                  <div class="breadcrumb-title line-bottom">
                      <h2>A propos </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- ABOUT AREA START -->
<div class="about-area">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 pl-0">
              <img src="src/assets/images/others/about-1.jpg" alt="A propos  Image">
          </div>
          <div class="col-lg-6">
              <div class="about-us-info">
                  <h2 class="text-center">Spécialiste E-Commerce  <br>high-tech</h2>
                  <p>The BEST est Le spécialiste de la vente de matériel informatique en ligne en Tunisie. Nous disposons du plus grand choix et des meilleurs prix en Tunisie. The BEST travaille avec les plus grandes marques qui lui font entièrement confiance.The BEST s’est toujours engagé à servir ses clients au mieux et à donner les meilleurs conseils.

                    Enfin et c'est loin d'être négligeable, The BEST s'appuie sur une chaîne logistique optimisée, afin de permettre d'offrir des prix défiant toute concurrence sur de nombreuses références pour des livraisons sur tout le territoire Tunisien. La livraison est gratuite à partir de 300 DT d'achats.</p>
                  <div class="button-5 text-center mt-40 mb-50">
                      <a href="#">Nos offres</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ABOUT AREA END -->
<!-- COUNTER-UP AREA START -->
<div class="counter-up-area mb-50">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
              <!-- counter-item -->
              <div class="counter-item text-center">
                  <div class="counter-img">
                      <img src="src/assets/images/icons/6.png" alt="Icon Image">
                  </div>
                  <div class="counter-info">
                      <div class="counter-number">
                          <span class="counter">5000 </span>
                      </div>
                      <h6>Clients</h6>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <!-- counter-item -->
              <div class="counter-item text-center">
                  <div class="counter-img">
                      <img src="src/assets/images/icons/7.png" alt="Icon Image">
                  </div>
                  <div class="counter-info">
                      <div class="counter-number">
                          <span class="counter">10000</span>
                      </div>
                      <h6>Produits</h6>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <!-- counter-item -->
              <div class="counter-item text-center">
                  <div class="counter-img">
                      <img src="src/assets/images/icons/6.png" alt="Icon Image">
                  </div>
                  <div class="counter-info">
                      <div class="counter-number">
                          <span class="counter">125</span>
                      </div>
                      <h6>Employées</h6>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <!-- counter-item -->
              <div class="counter-item text-center">
                  <div class="counter-img">
                      <img src="src/assets/images/icons/8.png" alt="Icon Image">
                  </div>
                  <div class="counter-info">
                      <div class="counter-number">
                          <span class="counter">985</span>
                      </div>
                      <h6>Café</h6>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- COUNTER-UP AREA END -->
