<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <!-- Body main wrapper start -->
  <div class="wrapper">
     
     

      <!-- BREADCRUMB AREA START -->
      <div class="breadcrumb-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="breadcurmb-inner">
                          <!-- breadcrumb-menu -->
                          <div class="breadcrumb-menu">
                              <nav>
                                  <ul>
                                      <li><a title="Home Page" href="index.html"><i class="fa fa-home"></i></a></li>
                                      <li>Checkout</li>
                                  </ul>
                              </nav>
                          </div>
                          <!-- breadcrumb-title -->
                          <div class="breadcrumb-title line-bottom">
                              <h2>Checkout</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- BREADCRUMB AREA END -->

      <!-- CHECKOUT-AREA START -->
      <div class="checkout-area margin-bottom-50">
          <div class="container">
              <div class="row">
                  
              </div>
              
              <!-- Checkout-Billing-details and order start -->
              <div class="checkout-bill-order">
                  <form action="#">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="checkout-bill">
                                  <h3 class="title-7 margin-bottom-50">Billing Details</h3>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                      <label>Username or email <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                      <label>Password  <span>*</span></label>
                                      <input type="password">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                      <label>Company Name </label>
                                      <input type="text">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                      <label>Email Address <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                      <label>Phone  <span>*</span></label>
                                      <input type="text">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Country </label>
                                          <input type="text" placeholder="United states (US)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Address </label>
                                          <input type="text" placeholder="Street address">
                                          <input type="text" placeholder="Site, Unite etc (optional)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Town / City </label>
                                          <input type="text" placeholder="United states (US)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                          <label>State <span>*</span></label>
                                          <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                          <label>Zip  <span>*</span></label>
                                          <input type="text">
                                      <p></p>
                                  </div>
                              </div>
                              <div class="new-account-create">
                                  <h4 class="title-8">Create Account</h4>
                                  <label>
                                      <input type="checkbox" checked="checked">
                                      <span>Create an account by entering the information below. </span>
                                  </label>
                                  <label>
                                      <span>If you are a returning customer please login at the top of the page.</span>
                                  </label>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Account Password </label>
                                          <input type="password">
                                  </div>
                              </div>
                              <h4 class="title-8">Ship to a different address <input type="checkbox" checked="checked"></h4>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                          <label>Username or email <span>*</span></label>
                                          <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                          <label>Password  <span>*</span></label>
                                          <input type="password">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Company Name </label>
                                          <input type="text">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                          <label>Email Address <span>*</span></label>
                                          <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                          <label>Phone  <span>*</span></label>
                                          <input type="text">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Country </label>
                                          <input type="text" placeholder="United states (US)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Address </label>
                                          <input type="text" placeholder="Street address">
                                          <input type="text" placeholder="Site, Unite etc (optional)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Town / City </label>
                                          <input type="text" placeholder="United states (US)">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-6">
                                          <label>State <span>*</span></label>
                                          <input type="text">
                                  </div>
                                  <div class="col-md-6">
                                          <label>Zip  <span>*</span></label>
                                          <input type="text">
                                  </div>
                              </div>
                              <div class="row coupon-info">
                                  <div class="col-md-12">
                                          <label>Additoional Information</label>
                                          <textarea></textarea>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                  </form>
              </div>
              <!-- Checkout-Billing-details and order end -->
          </div>
      </div>
      <!-- CHECKOUT-AREA END -->

    
      
  </div>
  <!-- Body main wrapper end -->


  


</body>