<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcurmb-inner">
                    <!-- breadcrumb-menu -->
                    <div class="breadcrumb-menu">
                        <nav>
                            <ul>
                                <li><a href="index.html" title="Home Page"><i class="fa fa-home"></i></a></li>
                                <li>Terms &amp; Conditions</li>
                            </ul>
                        </nav>
                    </div>
                    <!-- breadcrumb-title -->
                    <div class="breadcrumb-title line-bottom">
                        <h2>Terms &amp; Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- TERMS CONDITIONS AREA START -->
<div class="terms-condition-area mt-0 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area  mb-50">
                    <h1 class="section-title"><br> Termes and Conditions</h1>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem  </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="terms-list">
                    <ol>
                        <li>Le Site affiche tous les produits pouvant être commandés en ligne. Veuillez prendre note que ces derniers ne font pas nécessairement partie de l'inventaire de The BEST ou de celui du Site. Dans l'éventualité où The BEST doit attendre qu'un ou des articles en rupture de stock deviennent disponibles, il se peut que votre commande soit retenue avant d'être expédiée. Si jamais vous êtes pressé de recevoir un ou certains articles dans votre commande, nous vous recommandons de passer une commande séparée pour ce (s) dernier (s).</li>
                        <li>The BEST ne garantit en aucun cas la disponibilité des produits offerts sur le Site. Si The BEST ne peut vous livrer l'un ou l'autre des produits que vous avez commandés en raison d'une rupture de stock, The BEST vous avisera par courrier électronique et vous aurez alors les options suivantes : </li>
                        <li>Maintenir votre commande active auprès du Site et autoriser The BEST à vous expédier le (s) produit (s) en rupture de stock, sans aucun préavis, et ce, dès sa (leur) réception, auquel cas un paiement sera automatiquement prélevé sur votre compte de carte de crédit pour ce (s) produit (s) avant même que ce (s) dernier (s) ne vous soi (en)t livré (s) par le transporteur sélectionné par The BEST. En tout temps avant la réception par le Site du (des) produit (s) en rupture de stock, vous pourrez procéder à l'annulation de votre commande en communiquant avec nous via la section « Nous joindre » du Site. Veuillez noter que le (les) produit (s) en rupture de stock ne sera (seront) commandé (s) auprès des fournisseurs que dans le (s) jour (s) suivant le maintien de votre commande sur le Site</li>
                        <li>Annuler votre commande, dans les 15 jours, en communiquant avec nous via la section « Nous joindre » du Site, auquel cas un remboursement sera effectué pour ce (s) produit (s).</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>